.bg-bl{
    background: #0B346E;
}
.t-bl{
    color: white;
}
.h5-bl{
    color: #0B346E;
}
.button-bl{
    background: #261E47;
}
.d-f{
    display: flex;
}
.f-d{
    flex-direction: column;

}
.jcc{   
    justify-content: center;

}
.aic{
    align-items: center;
}

.fz-sm{
    font-size: 18px;
}
.fz-md{
    font-size: 24px;
}
.fz-lg{
    font-size: 32px;
}
.fz-lg-m{
font-size: 48px;
}
.fw-b{
    font-weight: bold;
}
.db{
    display: block;
}
.tac{
    text-align: center;
}
.m0auto{
    margin: 0 auto;
}
.fd-colum{
    flex-direction: column;
}
.radius{
    border-radius: 8px;
}
.mr-24
{
    margin-right: 24px;
}
.mr-12{
    margin-right: 12px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-48{
    margin-bottom: 48px;
}
.mt-24{
   margin-top: 24px;
}
.mt-48{
    margin-top: 48px;
}
.jcsb{
    justify-content: space-between;
}
.lh{
    line-height: 1.5;
}
.m-10{
    margin: 10px;
}