.bg-bl{
    background: #DAEAF1;
}
.t-bl{
    color: #1E4B5B;
}
.d-f{
    display: flex;
}
.f-d{
    flex-direction: column;

}
.jcc{   
    justify-content: center;

}
.aic{
    align-items: center;
}

.fz-sm{
    font-size: 18px;
}
.fz-md{
    font-size: 24px;
}
.fz-lg{
    font-size: 32px;
}
.fz-lg-m{
font-size: 48px;
}
.fw-b{
    font-weight: bold;
}
.db{
    display: block;
}
.tac{
    text-align: center;
}
.m0auto{
    margin: 0 auto;
}
.fd-colum{
    flex-direction: column;
}
.radius{
    border-radius: 8px;
}
.mr-24
{
    margin-right: 24px;
}
.mb-24{
    margin-bottom: 24px;
}
.jcsb{
    justify-content: space-between;
}