@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-bl {
  background: #0B346E;
}

.t-bl {
  color: white;
}

.h5-bl {
  color: #0B346E;
}

.button-bl {
  background: #261E47;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-d {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fz-sm {
  font-size: 18px;
}

.fz-md {
  font-size: 24px;
}

.fz-lg {
  font-size: 32px;
}

.fz-lg-m {
  font-size: 48px;
}

.fw-b {
  font-weight: bold;
}

.db {
  display: block;
}

.tac {
  text-align: center;
}

.m0auto {
  margin: 0 auto;
}

.fd-colum {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.radius {
  border-radius: 8px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-12 {
  margin-right: 12px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-48 {
  margin-top: 48px;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lh {
  line-height: 1.5;
}

.m-10 {
  margin: 10px;
}

.taro {
  width: 1150px;
  padding-top: 60px;
  margin: 0 auto;
}

.taro img {
  width: 550px;
  height: 500px;
  cursor: pointer;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin-right: 20px;
  display: block;
}

.taro ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 3px 3px 3px 3px #c2c2c2;
          box-shadow: 3px 3px 3px 3px #c2c2c2;
}

.taro li {
  padding: 10px;
}

@media (max-width: 768px) {
  .taro {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .taro img {
    max-width: 80%;
    cursor: pointer;
  }
  .taro ul {
    width: 80%;
    margin-top: 24px;
  }
}

.taro-price {
  padding: 48px 36px 48px 36px;
  border-radius: 16px;
}

.reserve {
  border-radius: 16px;
  background: #261E47;
}

.reserve a {
  font-size: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 5px;
  display: block;
  text-decoration: none;
  color: white;
}

.reserve:hover {
  background: #1a1531;
}

.taro-address {
  padding-top: 50px;
  background: #0B346E;
  padding-bottom: 20px;
}

.taro-address h3 {
  font-size: 36px;
  padding-bottom: 50px;
}

@media (max-width: 768px) {
  .taro-address {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
  }
}

.address {
  border-left: 0.3rem solid;
  width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
}

.address iframe {
  margin-left: 75px;
  border-radius: 20px;
}

.address h1 {
  padding-left: 65px;
  margin-top: 20px;
  border-top: 3px solid  #0B346E;
  padding-top: 20px;
}

.address h2 {
  padding-left: 65px;
  margin-top: 20px;
  border-bottom: 3px solid  #0B346E;
  padding-bottom: 20px;
}

.address-right {
  padding-right: 65px;
  padding-bottom: 20px;
  border-right: 0.3rem solid;
  width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: right;
}

.address-right li {
  margin-top: 20px;
}

h5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.introduce_many {
  margin-top: 50px;
  margin: 0 auto;
  width: 1150px;
}

.introduce_many img {
  width: 300px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: block;
}

.introduce_many ul {
  background: #0B346E;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 2px gray;
  padding: 12px 10px 12px 10px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.introduce_many li {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.introduce_many a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  color: white;
  padding: 8px 0;
  border-radius: 8px;
}

.introduce_many a:hover {
  color: #261E47;
}

@media (max-width: 768px) {
  .introduce_many {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .introduce_many_stuff {
    margin-top: 10px;
    margin-right: 12px;
  }
}

.product_outside {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .product_outside {
    width: 100%;
  }
}

.product_in {
  margin: 0 auto;
  font-size: 20px;
}

.product_in img {
  width: 430px;
  height: 480px;
}

.product_in_input {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.product_in_input h3 {
  display: block;
  padding: 20px;
}

.product_in__old-price {
  text-decoration: line-through;
  color: #646565;
}

.prc_in_price span {
  width: 50%;
  margin-right: 10px;
}

.prc_in_price p {
  width: 50%;
}

.page {
  padding-top: 50px;
}

.page ul li {
  padding: 16px 18px;
  margin-right: 10px;
  border-radius: 100%;
  font-size: 18px;
}

.page a {
  text-decoration: none;
}

.hotel {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1150px;
  margin: 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hotel img {
  width: 200px;
  height: 280px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: block;
}

.hotel p {
  font-size: 25px;
  padding: 15px;
}

.hotel li {
  padding: 15px;
  font-size: 17px;
}

.hotel_left, .hotel_right {
  width: 500px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 5px solid #0B346E;
  border-top: 3px solid #0B346E;
  border-left: 3px solid #0B346E;
  border-right: 5px solid #0B346E;
  border-radius: 16px;
}

.hotel_left:hover, .hotel_right:hover {
  -webkit-box-shadow: 2px 1px 1px gray;
          box-shadow: 2px 1px 1px gray;
  cursor: pointer;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

.top {
  position: fixed;
  background: #1E4B5B;
  color: white;
  width: 80px;
  height: 80px;
  display: block;
  font-size: 24px;
  border-radius: 100%;
  padding-left: 15px;
  padding-top: 24px;
  font-weight: bold;
  text-decoration: none;
  right: 5%;
  bottom: 1%;
  z-index: 10;
}

.top:hover {
  color: gainsboro;
}

@media (max-width: 768px) {
  .top {
    width: 50px;
    height: 50px;
    bottom: 5%;
    font-size: 16px;
    padding-top: 20px;
    padding-left: 10px;
  }
}

body {
  font-size: 14px;
  color: #000;
  font-family: "TTNorms-Regular", Helvetica, "微軟正黑體", sans-serif;
}

.swiper {
  width: 65%;
  height: 100%;
}

@media (max-width: 900px) {
  .swiper {
    width: 100%;
    height: 100%;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
}

.header .header-a {
  text-decoration: none;
  padding: 8px;
  margin: 5px;
  margin-right: 20px;
  padding-right: 10px;
  color: white;
  font-size: 20px;
}

.header .header-a:hover {
  color: #44a5c9;
  border-bottom: 2px solid #44a5c9;
}

.header img {
  width: 5%;
  margin-left: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
  }
  .header img {
    width: 15%;
    margin-left: 20px;
  }
  .header .header-a {
    display: none;
  }
}

@media (min-width: 768px) {
  .dropdown {
    display: none;
  }
}

.carousel-caption {
  text-shadow: 0.1rem 0.1rem #2f2b2b;
}

@media (max-width: 768px) {
  .carousel-caption {
    font-size: 20px;
    text-shadow: 0.1rem 0.1rem #2f2b2b;
    text-align: left;
    margin-bottom: 30px;
  }
}

.banner-text {
  padding-bottom: 48px;
}

.banner-text img {
  width: 500px;
  height: 900px;
}

@media (max-width: 768px) {
  .banner-text {
    margin-left: 0;
  }
  .banner-text img {
    width: 300px;
    height: 300px;
  }
}

.p2txt h5 {
  padding-bottom: 80px;
}

.Product {
  margin-bottom: 100px;
}

.Product ul {
  width: 800px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Product ul li {
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.Product ul img {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 12px;
}

.Product ul a {
  text-decoration: none;
  display: block;
  background: #261E47;
  padding: 15px 40px 15px 40px;
  margin: 10px;
  font-weight: bold;
}

.Product ul a:hover {
  color: gray;
}

.Product ul h3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.Product .img-a {
  background: none;
}

@media (max-width: 768px) {
  .Product li {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.request-front {
  width: 300px;
  background: #0B346E;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.request-message {
  width: 270px;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.request-message img {
  width: 50px;
}

@media (max-width: 768px) {
  .request-message img {
    width: 50px;
  }
}

.request-text {
  padding: 16px 20px;
  border-bottom: 3px solid #0B346E;
}

.request-important {
  margin-top: 100px;
  margin-bottom: 100px;
}

.request-important h2 {
  padding-top: 12px;
}

.request-important h3 {
  padding: 20px 20px;
}

.rq-m-5 h3 {
  padding: 30px;
}

.soosooeat-donate {
  margin-top: 50px;
}

.soosooeat-donate img {
  width: 250px;
}

.soosooeat-donate h4 {
  width: 350px;
  padding: 20px 16px;
  background: #FFEFEF;
  margin-left: 30px;
  color: #1E4B5B;
}

.soosooeat-donate h4:after {
  position: absolute;
  content: "";
  left: 46%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-width: 26px;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: #FFEFEF;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

@media (max-width: 768px) {
  .soosooeat-donate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .soosooeat-donate img {
    width: 300px;
    margin-left: 20px;
  }
  .soosooeat-donate h4 {
    margin: 0 auto;
    width: 300px;
  }
  .soosooeat-donate h4:after {
    position: absolute;
    content: "";
    left: 46%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin-bottom: 165px;
    border-width: 26px;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #FFEFEF;
    border-left-color: transparent;
  }
}

.footer {
  margin-top: 50px;
  padding-top: 20px;
}

.footer img {
  width: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.footer h3 {
  margin-right: 600px;
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer h3 {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=all.css.map */